// media queries
$sm-maxWidth = 640px
$md-minWidth = $sm-maxWidth + 1
$md-maxWidth = 1024px
$lg-minWidth = $md-maxWidth + 1
$sm = '(max-width ' + $sm-maxWidth + ')'
$sm-md = '(max-width ' + $md-maxWidth + ')'
$md = '(min-width ' + $md-minWidth + ') and (max-width ' + $md-maxWidth + ')'
$md-lg = '(min-width ' + $md-minWidth + ')'
$lg = '(min-width ' + $lg-minWidth + ')'

// colors
$color-white1 = #fff
$color-black1 = #000
$color-green1 = #74df91
$color-blue1 = #0078f2
$color-blue2 = #012437
$color-gray1 = #f2f3f8
$color-gray2 = #bbb
$color-red1 = #ffe2ec

// font-size
$font-1 = 14px
$font-2 = 16px
$font-3 = 18px
$font-4 = 24px
$font-5 = 26px
$font-6 = 34px
$font-7 = 40px
$font-8 = 54px

// margins and paddings
$space-1 = 10px
$space-2 = 20px
$space-3 = 30px
$space-4 = 40px
$space-5 = 50px
