.slideAnime {
   opacity 0
   transition all 1.5s ease
}
.slideAnime.right {
   transform translateX(-10%)
}
.slideAnime.left {
   transform translateX(10%)
}
.slideAnime.up {
   transform translateY(10%)
}
.slideAnime.js-slide {
   opacity 1
   transform translateX(0)
}
