.parallaxWorkerSection {
   overflow hidden

   .imgContainer {
      fullBackgroundImage('../img/parallax_worker.jpg')
      position absolute
      height 130%
      top 50%
      left 0
      transform translateY(-60%)
   }

}
